*{
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: justify;
    background-color: rgb(255, 255, 255);
}


.contenedor {
    width: 900px;
    height: auto;
    margin: 100px auto;
    padding: 20px;
    color: rgb(11, 12, 12);
    border-radius: 10px;
    border-width: 40px;
    background-color: rgb(182, 227, 110);
    text-align: left;
}


label {
    margin: 0;
    padding: 10px;
    font-size: 22px;
    width: 200px;
  }

  input[type="number"]{
    padding: 10px;
    margin-right: 10px;
    width: 150px;
    font-size: 22px;
    border: 3px solid #049dab;   
   }

 select {
    margin: 0;
    padding: 10px;
    font-size: 22px;
    width: 200px;
    border: 3px solid #049dab;
 } 



button{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border:black;
    cursor: pointer;
    border-radius: 10px;
    font-size: 22px;
}

input[type="text"][readonly] {
    padding: 10px;
    margin-right: 10px;
    width: 150px;
    font-size: 22px;
    border: 3px solid #049dab;
    }

