*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: left;
    background-color: rgb(253, 253, 253);
}

.contenedor {
    width: 900px;
    height: auto;
    margin: 100px auto;
    padding: 20px;
    text-align: left;
    color: rgb(11, 12, 12);
    border-radius: 60px;
    border-style: groove;
    border-width: 20px;
    border-color: #049dab;
    background-color: rgb(255, 255, 255);
}

h1 {
    margin-bottom: 25px;
}


label {
    display: block;
    margin-bottom: 10px;
    font-size: 22px;
  }

 

input[type="number"]{
 padding: 10px;
 margin-right: 10px;
 width: 150px;
 font-size: 22px;
 border: 3px solid #049dab;   
}

input[type="text"]{
    padding: 10px;
    margin-right: 10px;
    width: 150px;
    font-size: 22px;
    border: 3px solid #049dab;   
   }

 select{
    padding: 10px;
    margin-right: 10px;
    width: 150px;
    font-size: 22px;
    border: 3px solid #049dab;
 }  


button{
    padding: 10px 20px;
    background-color: #049dab;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 22px;
}

input[type="text"][readonly] {
 padding: 10px;
 margin-right: 10px;
 width: 150px;
 font-size: 22px;
 border: 3px solid #049dab;
 }

 