
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: bisque;
  }
  
  .contenedor {
    width: 900px;
    height: auto;
    margin: 100px auto;
    padding: 20px;
    color: rgb(11, 12, 12);
    border-radius: 10px;
    border-width: 40px;
    background-color: rgb(241, 225, 107);
    text-align: left;
  }
  
  h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  .image {
    max-width: 100%;
    height: auto;
  }